$lightGreen: #799a82;
$darkGreen: #10782e;
$darkGreenHover: #295b37;
$white: #ffffff;
$black: #000000;
$lightGray: #FAFAFA;
$lightBlue: #E1F8FF;
$progressColor: #00FF00;
$progressBarBackground: #D9D9D9;
